.about {
    /* background-image: url(../Assets/Images/clean.jpg); */
    background-image: url(../Assets/Images/fishes.jpg);
}

.problem {
    /* background-image: url(../Assets/Images/trash\ 1.jpeg); */
    background-image: url(../Assets/Images/trash3.jpg);
}

.solution {
    background-image: url(../Assets/Images/trash\ clean2.jpg);
}

.bg-img {
    /* Add the blur effect */
    /* filter: blur(5px);
    -webkit-filter: blur(5px); */
    opacity: 0.5;

    /* Full height */
    min-height: 80vh;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    border: 3px solid blue;
    background-color: rgba(14, 24, 64, 0.8);
    color: white;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 80%;
    padding: 20px;
    text-align: center;
}

.bg-text h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.problem2 {
    /* position: relative; */
    top: 120%;
}

.solution2 {
    /* position: relative; */
    top: 200%;
}
