.container {
    padding-top: 75px;
}

.details {
    margin: 0px 20% 5px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}

.details img {
    width: 100%;
    max-height: 400px;
}
