.eventlist {
    display: flex;
    /* padding-inline-end: 40px; */
    overflow: visible;
    flex-basis: 33%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.breakTitle {
    font-size: 30px;
    margin-left: 1%;
    margin-top: 10px;
}
