.top {
    padding-top: 75px;
    display: flex;
    justify-content: center;
}

.eventlist {
    display: flex;
    /* padding-inline-end: 40px; */
    overflow: visible;
    flex-basis: 33%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.breakTitle {
    font-size: 30px;
    margin-left: 1%;
    margin-top: 10px;
}

.link,
.link:visited {
    text-decoration: none;
    color: #2e4c6d;
    font-size: 40px;
    transition: 0.2s;
    text-decoration: underline;
}

.link:hover {
    color: #3bcfa3;
    /* font-weight: bold; */
}
.active {
    color: #3bcfa3;
    font-weight: bold;
}
