footer {
    background-color: #2e4c6d;
    z-index: 2;
    width: 100%;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
}

.social-container a {
    margin: 10px 20px;
}

.social-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
