header {
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 0;
}
.header-container {
    background-color: #2e4c6d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* padding: 1rem 0; */
}

.myList-nav {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #ffff;
    font-size: 13px;
    transition: 0.2s;
    width: 100%;
    display: block;
}
.link:hover {
    color: #3bcfa3;
    /* font-weight: bold; */
}
.active {
    color: #3bcfa3;
    font-weight: bold;
}

a.icon {
    font-size: 25px;
    display: none;
    margin: 12px 0;
    color: white;
}

.myList-nav button {
    background-color: #ffff;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
    outline: none;
    border: none;
    color: #2e4c6d;
    padding: 0;
}

.myList-nav button:hover {
    background-color: #3bcfa3;
    cursor: pointer;
}

.link,
.myList-nav button {
    margin-left: 5em;
}

@keyframes showNav {
    from {
        /* opacity: 0; */
        transform: translateY(-20px);
    }
    to {
        /* opacity: 1; */
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 768px) {
    .myList-nav {
        display: none;
        width: auto;
    }

    a.icon {
        float: right;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .responsive {
        position: relative;
        float: none;
        display: block;
        width: 100%;
        animation: showNav 250ms ease-in-out both;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    li {
        /* border: 1px solid green; */
        padding: 5px 0px;
    }

    .link,
    .myList-nav button {
        margin-left: 0em;
    }
}
